html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    background: rgb(248, 237, 212);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
span {
    color: blue;
    bottom: 0px;
    position: absolute;
    right: 0px;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
    display:none;
}
.game-selection {
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 200%;
    transition: .65s;
    transform: scale(1.1);
}
.game-selection:hover {
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 200%;
    transform: scale(1.1);
}
.logo {
    size: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    background-color: rgb(248, 237, 212);
    width: 100%;
}
.nav-btn{
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    flex: 5;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-links{
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    display: block;
}
.nav-link{
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
}
.nav-links > ul{
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
}
.nav-link > a{
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    line-height: 2.5rem;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .65s;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
}
.nav-link:hover > a{
    transform: scale(1.1);
    color: black;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
}
.nav-bar-game-selection{
    cursor: pointer;
    transform: translateX(50px);
}
.nav-link:hover > .nav-link,
#check{
    position: relative;
    transform: translateY(0);
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}